body {
    margin:0px;
    background-color:#FFFFF5;
}

header {
    margin:0px;
}

h1 {
    text-align: center; 
    margin-top: 50px;
}

header {
    display: block; 
    height: 405px; 
    background: url(images/header-bg.png) no-repeat center bottom;
    align-items: center;
}

p {  
    font-size: 40px;
    margin-top: 0px;
    margin-left: 10px;
}

.poisk {
    text-decoration: none;
    color: #000;
    border: 2px solid grey;
    padding: 10px;
    background-color: #b6ad87;
    font-size: 30px;
    margin-left: 1%;
    margin-right: 1%;
    width: 250px;
    text-align: center;
}

.Genres a{
    text-decoration: none;
    padding: 10px;
    background-color: #b6ad87;
    font-size: 30px;
    width: 500px;
    text-align: center;
    height: 150px;
}

.iconka {
    width: 200px;
    float: left;
    height: 170px;
    margin-top: 0px; 
}

.book div {
    display: flex;
    flex-wrap: wrap;
}

.flex1{
    align-items: left;    
    display: block;
    margin:0px;
}

.flex{
    display: flex;
    justify-content: space-between;
    margin:0px;
}

.книги{
    margin-top: 100px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}
.книги div {
    margin: 60px; 
}

.описание{
    display: flex;
    flex-direction: column;
}

hr {
    margin-top: 0px;
}

.biography h2
{
    text-align: center;
}
.bio img
{
    width: 450px;
}
.wid
{
    background-color: FFFFF5;
}
.img_book{
margin-right: 50px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropbtn:hover, .dropbtn:focus {
    background-color: #b6ad87;
}
.dropbtn {
    background-color: #b6ad87;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}